<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span>{{selectedPhoto.title}}</span>
            <span class="close close-btn" (click)="closeModal()">&times;</span>
        </div>
        <div class="btn-group">
            <button mat-icon-button (click)="previousPhoto()" [disabled]="isFirstPhoto()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="nextPhoto()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <img #photo [src]="selectedPhoto.largeUrl" alt="Photo">
        <div class="details">
            <p>{{selectedPhoto.description}}</p>
            <p class="date-taken">{{selectedPhoto.dateTaken}}</p>
        </div>
    </div>
</div>