.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90vw;

    img {
        width: 100%;
        margin: 0 auto;

        @media (orientation: landscape) {
            max-height: calc(100vh - 12rem);
        }
    }

    h1,
    h2,
    p {
        color: white;
    }

    span.close-btn {
        &:hover {
            color: #888;
        }
    }

    .date-taken {
        font-size: 0.75rem;
    }

    .btn-group {
        margin-bottom: 1rem;

        button {
            background-color: black;
            color: white;

            &:last-child {
                float: right;
            }

            &:disabled {
                color: darkgray;
                cursor: not-allowed;
            }
        }
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}