<div class="modal">
    <div class="modal-content">
        <span class="close close-btn" (click)="closeModal()">&times;</span>
        <h1>{{selectedPhoto.title}}</h1>
        <div class="btn-group">
            <button mat-icon-button (click)="previousPhoto()" [disabled]="isFirstPhoto()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="nextPhoto()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <img [src]="selectedPhoto.largeUrl" alt="Photo">
        <p>{{selectedPhoto.description}}</p>
        <p class="date-taken">{{selectedPhoto.dateTaken}}</p>
    </div>
</div>