<div class="responsive-grid">
  <mat-card *ngFor="let albumCollection of albumCollections">
    <mat-card-header>
      <mat-card-title>
        <mat-button
          mat-button
          class="nav-link"
          routerLink="/collection/{{ albumCollection.id }}"
        >
          {{ albumCollection.title | titlecase }}
        </mat-button>
      </mat-card-title>
      <mat-card-subtitle>
        {{ albumCollection.description }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
