.grid-sizer,
.grid-item {
    width: 320px;
}

.top-container {
    width: 100%;

    img {
        width: 100%;
        height: auto;
        margin: 0 auto; // Center horizontally in container
        object-fit: contain; // Preserve aspect ratio
    }

    h1,
    h3 {
        text-align: center;
        margin-top: 20px;
        color: white;
    }
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: gray;
    height: 1px;
    border: none;
}