
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-app-primary: mat.define-palette(mat.$teal-palette);
$portfolio-app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// Use dark theme by default. If user prefers light theme, override below.
$portfolio-app-theme: mat.define-dark-theme((
  color: (
    primary: $portfolio-app-primary,
    accent: $portfolio-app-accent,
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// The warn palette is optional (defaults to red).
$portfolio-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-app-theme);

body {
  background: black;

  mat-card-title, 
  .nav-link {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
      background: white;

      .mat-mdc-card {
        background: whitesmoke;
      }

      .mat-mdc-card-title {
        .nav-link {
          color: black;
          opacity: 0.6;
        }
      }
  
      .mat-mdc-card-subtitle {
        color: black;
        opacity: 0.5;
      }
    }
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

p {
  margin: 16px;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 10px;
  flex-wrap: wrap;
}

.container [class*='col'] {
  padding: 10px;
  flex: 1;
}

.mat-card-header-text {
  margin-left: 0;
  border-bottom: 1px solid #ffd740;
}

.header {
  padding-bottom: 10px;
  color: #673ab7;
  border-bottom: 2px solid #673ab7;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.dashboard-card-content {
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.grid-container {
  margin: 20px;
}

.list-container {
  margin: 20px;

  .full-width-table {
    width: 100%;
  }

  tr {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
  }

  tr:not(.mat-header-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

mat-form-field {
  width: 100%;
}

mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

.symbol {
  color: #777;
}

mat-card-actions {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.nav-link {
  display: flex !important;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;

  &.pad-left {
    padding-left: 0.25rem;
  }

  &:hover {
    cursor: pointer;
  }
}

// UI TOOLBAR
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;

  .mat-mini-fab {
    margin-right: 0.5rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    vertical-align: middle;
  }

  .logo {
    margin-left: 20px;

    img {
      vertical-align: middle;
      width: 100px;
      height: auto;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

mat-card {
  mat-card-header,
  mat-card-footer,
  mat-card-content {
    padding: 0.25rem;
    margin: 0 auto;
  }

  mat-card-footer {
    min-height: 1.25rem;
  }
}
