mat-list-item a {
    cursor: pointer;
    text-decoration: none;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

mat-card {
    mat-card-footer {
        padding: 0.25rem;
        margin: 0 auto;
    }

    overflow-x: hidden;
}